BOT_TOKEN=
BOT_USERNAME=merning_kartam_bot
PORT=8011
WEBHOOK_URL=
TELEGRAM_API_BASE=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_API_BASE=

DB_USER=root
DB_PASSWORD=root
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=merning_kartam_bot
